.access {
    padding: 0rem 3.2rem 13.1rem;

    display: grid;
    justify-items: center;
    row-gap: 6.4rem;

    &__img {
        width: 100%;
    }

    @media only screen and (min-width: $bp-desktop) {
        padding: 0rem 0rem 16.1rem;
        row-gap: 11rem;

        &__img {
            width: auto;
        }
    }
}