.header {
    padding: 12.3rem 3.2rem 16rem;
    display: grid;
    justify-items: center;
    row-gap: 4.8rem;

    background: no-repeat url("../images/bg-header-mobile.png");

    &__logo {
        margin-bottom: 1.6rem;
    }
}