.workflow {
    padding: 0 3.2rem 13.1rem;
    
    display: grid;
    justify-items: center;
    row-gap: 9rem;

    &__header {
        margin-bottom: -0.5rem;
    }

    &__features {
        display: grid;
        row-gap: 5.25rem;
    }
}