.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.6rem;
    
    text-align: center;
    color: var(--color-grayish-blue);

    & > *[class^="heading"] {
        color: var(--color-dark-grayish-blue);
    }
}