:root {
    --color-strong-cyan: #26BBA4;
    --color-strong-cyan-shadow: #26BBA480;
    --color-light-blue: #6174FF;
    --color-light-blue-shadow: #6174FF80;
    --color-grayish-blue: #9EABB2;
    --color-grayish-blue-10: #9EABB21A;
    --color-dark-grayish-blue: #4C545C;
    --color-white: #FFF;

    --ff-body: 'Bai Jamjuree', sans-serif;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

$bp-desktop: 90em; // 1440px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    
    // center content on page
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
